In [69]:
#importing the data set 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier

ds = pd.read_csv("Mental Health Dataset.csv")

ds

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Low,Yes,No,Maybe,No,Yes

In [48]:
#splitting the dataframes 

Ip = ds[['Gender','Country','Occupation','Days_Indoors']].copy()
Op = ds[['Growing_Stress','Social_Weakness']].copy()

In [59]:
# making the data frames into num-data
from sklearn.preprocessing import LabelEncoder
model = DecisionTreeClassifier()
encoder = LabelEncoder()

for col in Ip.columns:
    Ip[col] = encoder.fit_transform(Ip[col].astype(str))

for col in Op.columns:
    Op[col] = encoder.fit_transform(Op[col].astype(str))

In [68]:
#splitting the training and testing data

from sklearn.model_selection import train_test_split

Ip_train , Ip_test , Op_train , Op_test = train_test_split(Ip,Op,test_size=0.2)

        Gender  Country  Occupation  Days_Indoors
134721       1       17           4             4
24291        0       21           1             1
48449        0       22           0             2
261969       1       18           0             3
4653         0       21           1             4
...        ...      ...         ...           ...
50003        0       21           4             3
183737       1       21           4             3
170550       1       32           2             3
74732        1       21           0             2
103669       1       20           1             4

[233891 rows x 4 columns]

In [67]:
#making a decision tree model for training and predicting

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(Ip_train.values,Op_train.values)

predictions = model.predict(Ip_test.values)

predictions

array([[1, 0],
       [2, 0],
       [0, 2],
       ...,
       [2, 0],
       [2, 1],
       [2, 1]])